body {
    background-color: rgb(43, 48, 48);
    display: flex;
    flex-direction: column;
    align-items: center;
    color : white;
    font-family: 'Lexend Peta', sans-serif;
}

h1 {
    font-family: 'Tomorrow', sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
}

h2 {
    font-family: 'Lexend Peta', sans-serif;
    text-align: center;
    padding: 0 0 30px 0;
}

#game-container {
    display: grid;
    max-width: 800px;
    max-height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    margin: 0 auto;
    column-gap: 20px;
    row-gap: 20px;
}

.game-buttons {
    background-color: oldLace;
    height: 150px;
    width: 175px;
    background-color:white;
    text-align: center; 
    line-height : 150px;
    -moz-user-select: none;
    user-select: none;
    border-radius: 45%;
}

#red {
    grid-column: 1;
    grid-row: 1;
    color : red;
}

#gold {
    grid-column: 2;
    grid-row: 1;
    color : gold;
}

#blue {
    grid-column: 3;
    grid-row: 1;
    color : blue;
}

#orange {
    grid-column: 1;
    grid-row: 2;
    color : orange;
}

#green {
    grid-column: 2;
    grid-row: 2;
    color : green;
}

#purple {
    grid-column: 3;
    grid-row: 2;
    color : purple;
}

#display-area {
    display : grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

#status-display {
    grid-row: 1;
    grid-column: 1;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#score-area {
    grid-row: 2;
    grid-column: 1;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#start-button {
    width: 150px;
    height: 45px;
    background-color: oldlace;
    border-radius: 10%;
    font-size: x-large;
}

#current-status {
    font-size: x-large;
    width : 200px;
    height: 45;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .game-buttons {
        width: 75px;
        height: 55px;
        font-size: x-small;
        line-height: 55px;
    }
    #start-button {
        width: 75px;
        height: 25px;
        font-size: small;
    }
    #current-status {
        font-size : normal;
        width: 75px;
        height: 45px;
    }
    #score-area {
        padding: 20px 0 0 0;
    }
}