body {
    background-color: rgb(43, 48, 48);
    display: flex;
    flex-direction: column;
    align-items: center;
    color : white;
    font-family: 'Lexend Peta', sans-serif;
}

h1 {
    font-family: 'Tomorrow', sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
}

h2 {
    font-family: 'Lexend Peta', sans-serif;
    text-align: center;
    padding: 0 0 30px 0;
}

#game-container {
    display: grid;
    max-width: 800px;
    max-height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    margin: 0 auto;
    column-gap: 20px;
    row-gap: 20px;
}

.game-buttons {
    background-color: oldLace;
    height: 150px;
    width: 175px;
    background-color:white;
    text-align: center; 
    line-height : 150px;
    -moz-user-select: none;
    user-select: none;
    border-radius: 45%;
}

#red {
    grid-column: 1;
    grid-row: 1;
    color : red;
}

#gold {
    grid-column: 2;
    grid-row: 1;
    color : gold;
}

#blue {
    grid-column: 3;
    grid-row: 1;
    color : blue;
}

#orange {
    grid-column: 1;
    grid-row: 2;
    color : orange;
}

#green {
    grid-column: 2;
    grid-row: 2;
    color : green;
}

#purple {
    grid-column: 3;
    grid-row: 2;
    color : purple;
}

#display-area {
    display : grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
}

#status-display {
    grid-row: 1;
    grid-column: 1;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#score-area {
    grid-row: 2;
    grid-column: 1;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#start-button {
    width: 150px;
    height: 45px;
    background-color :oldlace;
    border-radius: 10%;
    font-size: x-large;
}

#current-status {
    font-size: large;
    width : 200px;
    height: 45px;
    margin: 0;
}

#all-time-high {
    grid-row: 3;
    grid-column: 1;
    text-align: center;
}

.shadow {
    box-shadow: 0 0 4px 4px rgba(255,255,255,0.6);
    border-radius: 45%; 
}
@media screen and (max-width: 600px) {
    .game-buttons {
        width: 75px;
        height: 55px;
        font-size: x-small;
        line-height: 55px;
    }
    #start-button {
        width: 75px;
        height: 25px;
        font-size: small;
    }
    #current-status {
        font-size : medium;
        width: 75px;
        height: 45px;
    }
    #score-area {
        padding: 20px 0 0 0;
    }
    .shadow {
        box-shadow: 0 0 2px 2px rgba(255,255,255,0.6);
    }
}

#modal {
    display: none;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#text-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#modal-textbox {
    margin: 0 auto;
    padding: 10px;
    background-color: lightgrey;
    height: 260px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: black;
}

#textbox-foot {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#textbox-foot, span {
    font-size: x-small;
}

#close {
    padding: 7px;
}

.loss {
    background-image: radial-gradient(red 35%, rgba(43, 48, 48,.5) 65%);
}